* {
    padding: 0;
    margin: 0;
}

.barraNavegacion {
    background-color: #a200ff;
    width: 100%;
    height: 100px;
    padding: 0 100px;
}

.containerNav {
    padding-inline-start: 0;
    align-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boton {
    color: #000000;
    list-style: none;
    cursor: pointer;
    margin: 0 30px;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.boton:hover{
    background-color: #000000;
    color: #829cac;
}

.home{
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
    border: none;
}

.home:hover{
    text-decoration: none;
}

li {
    list-style-type: none;
}

.imagenCarrito {
    height: 35px;
}

.containerCuerpoPrincipal {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 125px - 125px);
}

.containerDetalle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    min-height: calc(100vh - 150px - 150px);
}

.containerCuerpoCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px - 125px);
}

.textoCard {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.textoCard.principal {
    overflow-wrap: break-word;
    text-align: center;
    height: 100px;
}

.textoCard.precio {
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.botonCard {
    border: solid;
    border-color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    text-decoration: none;
    color: #000000;
    background-color: #ad97ff;
}

.botonCard:hover{
    background-color: #37008f;
    color: #ffffff;
}

.botonCard.checkout{
    display: flex;
    justify-content: flex-end;
    color: red;
}

.botonCard.checkout{
    margin-top: 25px;
}

.terminar {
    color:#ffffff;
    background-color:#a200ff;
    margin-top: 25px;
}

.terminar:disabled{
    color: grey;
    border-color: grey;
    background-color: #d7c3ff;
}

.containerBoton{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.containerImg {
    display: flex;
    justify-content: center;
}

.imgCard {
    object-fit: contain;
    height: 150px;
    width: 200px;
}

.containerTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.cardBody {
    border: solid;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 225px;
    padding: 15px;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.2);}

.containerCard {
    display: flex;
    justify-content: center;
}

.containerCardDetail {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.containerBodyDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #aca4ff;
    padding: 0 25px;
    border-radius: 10px;
    width: 30%;
}

.textoDetail {
    font-size: 30px;
    padding-bottom: 25px;
}

.textoDetailName {
    margin-top: 25px;
    font-size: 25px;
    padding-bottom: 25px;
}

.botonAgregar{
    margin: 25px 0;
    border: solid;
    border-color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    background-color:#ffffff;
}

.botonAgregar.checkout{
    background-color: #a200ff;
    color: #ffffff;
}

.botonAgregar:hover {
    background-color: #37008f;
    color: #fffdfd;
}


.botonCount {
    margin: 20px;
    border: solid;
    border-color: #000000;
    padding: 2.5px 5px;
    border-radius: 5px;
    border-width: 1px;
    text-decoration: none;
    color: #000000;
    background-color: #ad97ff;
}

.cantidad {
    color: #000000;
    background-color: #ffffff;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;
}

.spinnerBootstrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    color: #b978fa;
}

.containerTabla {
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.containerBottomCart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: flex-end;
}

.tableImage {
    width: 75%;
    height: auto;
}

.colImage {
    height: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cartTotal {
    padding-right: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: end;
}

.checkoutTotal {
    font-size: 30px;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: end;
    color: #37008f;
    font-weight: bolder;
}

.botonesCantidad {
    background-color: #d7c3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.containerForm {
    background-color:#b978fa;
    border-radius: 10px;
}

input {
    width: 100%;
    border-radius: 5px;
    border-color: #ffffff;
}

.containerImgDetalle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.imgCardDetalle {
    width: 75%;
}

.containerTablaCheckout {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px 50px 50px;
}

.containerTablaDetalleCheckout{
    height: 200px;
    display: flex;
    align-items: center;
}

.colCheckout {
    display: flex;
    justify-content: center;
}

.cantidad {
    background-color: #aca4ff;
    padding: 10px 15px;
}

.textInput {
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 5px;
    color: #ffffff;
}

.tituloCheck {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
    color: #37008f;
}

.cantidadNav {
    color: #000000;
    background-color: #ffffff;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;
}

.tituloNav{
    font-style: none;
    text-decoration: none;
}

.nav-link {
    color: white;
}

.dropdown {
    color: #000000;
    text-decoration: none;
}

.containerError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.cuatrocientos {
    font-size: 100px;
    color: #37008f;
}

.tituloError {
    margin-bottom: 50px;
}

.compra {
    margin-bottom: 50px;
}